# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.venv

# Flask / Environment
.env
instance/
.webassets-cache

# Database / Storage local fallback
*.db
*.sqlite3
uploads/
scratch/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

.vercel
.env*
